#content .row{
	margin-left: 0;
	margin-right: 0;
}
.container{
	width: 100%;
}

#content .col-md-12, #content .col-md-8, #content .col-md-4{
	padding: 0;
}
#breadcrumb{
	margin: 30px 0;
}
.auth-mass{
	font-size: 30px; color: #33ccff;color: #6abce9;margin: 30px 0;
}

.more_hover {
  background-color: #00c0f3;
  color: white;
  padding-top: 0px;
  padding-right: 23px;
  padding-bottom: 0px;
  padding-left: 23px;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  border-radius: 7px;
  font-size: 25px;
  text-decoration: none;
}
.more_hover:hover {
	background-color: #fff;
	border: 2px solid #35bdee;
	text-decoration: none;
	color: #6abce9;
	padding-top: 0px;
	padding-right: 23px;
	padding-bottom: 0px;
	padding-left: 23px;
	margin-top: 50px;
	margin-right: 0px;
	margin-bottom: 50px;
	margin-left: 0px;
	border-radius: 7px;
	font-size: 25px;
}

#price_text{
	background-color: #e2e2e1;
	height: 43px;
	margin: 50px 0;
	color: #595858;
}
.title_price {
	height: 43px;
	padding: 14px 0;
	font-size: 16px;
}

#title_usluga {
  font-size: 40px;
}
.spec{
	font-size: 30px; color: #33ccff;color: #6abce9;margin: 30px 0;
}
.sotr_fio{
	color: black;
	font-size: 19px
}
.gallery {
	text-align: center;
}
.gallery img{
	height: 185px;
}
.gallery .sotr_foto {
	margin-bottom: 22px;
}
.gallery .list_mass{
	
}
.gallery .list_of_sotr{	
	font-size: 16px;
	text-align: left;
    padding-left: 31%;
}
.gallery .list_of_sotr li{
	min-width: width: 170px;
	list-style-type: disc;
}
.telephone{
	font-size: 25px;
	color: #000;	
	margin-top: 100px;
}


/* Медиа */
@media screen and (max-width: 600px) {
    #price_text{
    	height: 90px;
    }    
    #title_usluga{
    	line-height: 40px;
    }
}

@media screen and (min-width: 992px) {
    
	.massage_descr{
	    padding-right: 30px;
	}    
}
