p {
  font-size: 16px;
}
.section{
	margin-top: 50px;
}
.section .container, .col-md-12{
	padding-left: 0;
	padding-right: 0;
}
.row, .section .container{
	margin-left: 0;
	margin-right: 0;
}
#breadcrumb {
}

.telephone {
  font-size: 25px;
  color: black;  
}

.title_spec {
  font-size: 40px;
}

#breacrumb {
  font-size: 16px;
}

.prof_fio {
  color: #73bcec;
  font-size: 55px;
  margin-bottom: 20px;
}

.prof_offer {
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 30px;
}

.more_hover {
  background-color: #00c0f3;
  color: white;
  padding-top: 0px;
  padding-right: 23px;
  padding-bottom: 0px;
  padding-left: 23px;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  border-radius: 7px;
  font-size: 25px;
  text-decoration: none;
}

.more_hover:hover {
  background-color: white;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #35bdee;
  border-right-color: #35bdee;
  border-bottom-color: #35bdee;
  border-left-color: #35bdee;
  text-decoration: none;
  color: #6abce9;
  padding-top: 0px;
  padding-right: 23px;
  padding-bottom: 0px;
  padding-left: 23px;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  border-radius: 7px;
  font-size: 25px;
}

.big_text {
  font-size: 18px;
  line-height: 24px;
}

.big_photo {
  border-radius: 5px;
}

.prof_title-list {
  font-size: 30px;
  color: #6abce9;
}

.prof_list li {
  list-style-type: disc;
}

.prof_list li a {
  font-size: 16px;
  color: #4c4c4c;
}

