/********font styles*******/
@import url(css-fonts/rawline.css);
@import url(css-fonts/circe.css);
/********card styles*******/

/*html {font-size: 16px;} */
img {
    max-width: 100%;
}
body {
    font-family: 'Circe', sans-serif;
    -ms-overflow-style: scrollbar;
}
.card,
.wide-card.nobg h4,
.right a,
.disclaimer_text,
.card.bg p, .card.bg a {
    font-family: 'Circe Light',sans-serif;
}
.card.bg h4,
.wide-card.nobg.phones h4,
.wide-card.nobg .strong-bold {
    font-family: 'Circe Bold',sans-serif;
}
.wide-card.nobg p {
    font-family: 'Circe Extra Light',sans-serif;
}

/*@media (min-width: 1200px) {
    .container {
        width: 1210px;
    }
}*/
.cards-holder {
    position: relative;
}
.scroll {
    width: 23px;
    height: 44.3px;
    align-self: flex-start;
    /*margin-top: 500px;*/
    position: fixed;
    left: 50%;
    top: 75%;
    margin-left: -11.5px;
    transition: none;
}
.cards-holder {
    column-count: 2;
    -moz-column-count: 2;
    column-gap: 55px;
    -moz-column-gap: 55px;
    /*width: 1178px;*/
    width:100%;
    margin: 0 auto;
}
.cards-holder-wide {
    width:100%;
    margin: 0 auto;
    margin-bottom:50px;
}
.floating {
    margin-top:50px;
}
@media only screen and (max-width: 767px) {
    .cards-holder{
        column-count: 1;
        -moz-column-count: 1;
        /*width:564px;*/
        width:100%;
        display: flex;
        flex-direction: column;
    }
    .relax {
        order: 1;
    }
    .floating {
        order: 2;
        margin-top:0;
    }
    .pregnancy {
        order: 3;
    }
    .nutrition {
        order: 4;
    }
    .beauty {
        order: 5;
    }
    .wellness {
        order: 6;
    }
    .recovery {
        order: 7;
    }
    .recovery_text {
        order: 8;
    }
}










.card {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
    width: 100%;
    color: #aeadae;
    position:relative;
    display: table;
    table-layout: fixed;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

}
.card .title-nobg {
    font-size: 35px;
    line-height: 40px;
    color: #00C0F3;
    margin-bottom: 0;
}
.card .title-nobg a:hover {
    background: none;
    text-decoration: underline;
    color:  #00C0F3;
}
.card .title-nobg:before {
    content: "";
    display: block;
    margin-top: 75px;
}
.imgheader {
    position: relative;
    overflow: hidden;
}

.card.bg .imgheader:after {
    position: absolute;
    top: 0;
    content: "";
    width: 100%;
    height: 101%;
    display: block;
    background: rgba(0,0,0,0.1) url(../img/wave.svg) repeat-x 50% 100%;
    background-size: 105%;
}
.card.bg h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -60%, 0);
    text-align: center;
    font-size: 49px;
    line-height: 41px;
    font-weight: normal;
    color: white;
    z-index: 1;
    width: 100%;
    /*-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;*/
    text-shadow: -1px 0px 30px rgba(84, 84, 84, 1);

}

@media screen and (max-width: 320px) {
  .card.bg h4 {
    font-size: 30px !important;
  }
}

.card strong, .card a {
    color: #55c2f0;
}
.under-text {
    border: 0.5px solid #00C0F3; /* ios fix */
    background: #00C0F3;
    text-align:center;
    width:100%;
    padding: 75px 45px 45px 45px;
}
.recovery .under-text {
   border: 0.5px solid #757574; /* ios fix */
    background: #757574;
    padding-bottom: 15px;
}
.recovery .imgheader:after {
    left: 10000px;
}
.card.bg .imgheader:before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0,0);
}
.recovery .more:hover {
    background: none;
}
.recovery .center-but{
    margin-bottom: 20px;
}
.recovery .center-but:after {
    content: url(../img/icure_logo_white.svg);
    display: block;
    margin-top: 30px;
}

.card.bg p, .card.bg a {
    font-size:25px;
    line-height:32px;
    color: white;
    text-align: center;
}
.card.bg a:hover {
    text-decoration: underline;
}


.card p {
/*    margin-bottom:50px;*/
    word-wrap:break-word;
}

.card.bg a {
    text-decoration:underline;
}
.card.bg a:hover {
    text-decoration:none;
}
.card .title-nobg a:active {
    color:#1B75BB;
}

 .more:hover, .menu-items .more:hover, .more:focus,.callme input[type="submit"]:hover,.callme input[type="submit"]:focus {
     background-color:#00C0F3;
     color:white;
     text-decoration:none;
}
 a.more:active,.callme input[type="submit"]:active {
    background-color:#1B75BB;
    border-color:#1B75BB;
    color:white;
    text-decoration:none;
}

.card.bg .more {
    border: 2px solid white;
    text-decoration: none;
}
.card.bg .more:hover {
    border: 2px solid #0090B6;
    text-decoration: none;
    background-color: #0090B6;
}
.card.bg .more:active {
    text-decoration: none;
    color: white;
    background: #005F79;
}

.card.recovery .more:hover {
    text-decoration: none;
    border-color: #5c5c5c;
    background-color: #5c5c5c;
    color: #fff;
}
.card.recovery .more:active {
    text-decoration: none;
    border-color: #424242;
    background-color: #424242;
    color: #fff;
}

.card i {
    text-decoration: underline;
    font-style: normal;
}
.card.bg {
    margin-top: 10px;
}
.card.bg.wide {
    width:100%;
    height:auto;
    /*background-size: 100% 50%, auto, cover ;
    background-position: center bottom, center bottom, center bottom;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
@media screen and (max-width: 768px) {
    .card {
        text-align: center;
    }
}

.column-break {
    /*-webkit-column-break-before: always;*/
    /*break-before: column;*/
}

.imgheader {
    position: relative;
}
.imgheader img {
    width: 101%;
    max-width: none;
}

.wide-card.bg .imgheader:after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.wide-card .wide-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate( -50%, -40%);
    width: 90%;
    text-align: center;
    color: white;
    z-index: 1;
}
.wide-card.bg .video .wide-text h4:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 100%;
    left: 50%;
    background: url(../img/play.png) no-repeat;
    background-size: cover;
}


.wide-card.bg h4 {
    font-size:40px;
    line-height: 1;
    font-weight:bold;
}
.wide-card.bg p {
    font-size:35px;
}
@media screen and (max-width: 768px) {
    .wide-card.bg h4 {
        font-size:40px;
    }
    .wide-card.bg p {
        font-size:28px;
        line-height: 37px;
    }
}

.wide-card.bg .video h4 {

}
.wide-card.nobg {
    text-align:center;
    margin: 30px 0 50px;
    /*padding: 0px;*/
}
.wide-card.wide-card__promo {
    margin-bottom: 100px;
}
.wide-card.nobg h4 {
    font-size: 55px;
    color:#37bdee;
    text-align:center;
    padding:0;
    margin-top: 50px;
}
.map_mobile{
    margin: 0 auto;
    width: 320px;
}
@media screen and (max-width: 768px) {
    .wide-card.nobg h4 {
        font-size: 38px;
    }
}

.wide-card.nobg.phones {
    margin-bottom: 0;
}
.wide-card.nobg.phones h4 {
    margin-top: 0;
}
.wide-card.nobg p {
    font-size:22px;
    color:#525352;
    text-align:center;
    line-height:31px;
    margin:50px 0;

}
@media screen and (min-width: 1200px) {
    .wide-card__promo h4 {
        padding:0 100px;
    }
    .wide-card__promo p {
        padding: 0 200px;
    }
}
.contacts p {
    padding-left: 30px;
    padding-right: 30px;
}
.more {
    font-size:25px;
    font-family:'Circe', sans-serif;
    padding: 0px 23px;
    border-radius: 10px;
    border: 2px solid #35bdee;
    color:#35bdee;
    margin:50px 0;
    text-align: center;
}
.left-but {
    margin:20px 0 55px;
}
.center-but{
    margin:40px 0 40px;
}
.wide-card.nobg.contacts h4 {
    color: #adaeae;
    font-size:40px;
    /*font-family: 'Circe Bold',sans-serif;*/

    font-weight:bold;
}
.wide-card.nobg.contacts strong {

    font-size:25px;
    /*font-family: 'Circe Bold',sans-serif;*/

    font-weight:bold;
}
.wide-card.nobg.contacts h4 strong {
    color:#464646;
}
.wide-card.nobg.contacts p, .wide-card.nobg.contacts p strong {
    font-size:18px;
    margin: 0 auto;
}
@media only screen and (max-width: 768px) {

}
/********header styles*******/
header {
    position: relative;
    height: 100%;
    margin: 0 auto;
    margin-top:61px;
    margin-bottom:32px;
    /*padding: 0 56px;*/
    width:100%;
    text-align:center;
    /*background-color:#00bbff;*/
}
.header-holder{
    width:100%;
    margin: 0 auto;
    position: relative;
}
.logo {
    /*1position: absolute;*/
    /*1left: 43%;*/
    /*1margin: 11px auto 0 auto;*/
    margin-top: 11px;
    width: 150px;
    margin-top: 11px;

    position: absolute;
    left: 50%;
    margin-left: -75px;
    /*1height: 102px;*/
}

.logo:hover img {
    opacity: .7;
}
@media screen and (max-width: 650px) {
    .left {
        flex-grow: 1;
    }
}

.header-holder {
    display: inline-flex;
    flex-wrap:wrap;
    justify-content:space-between;

}

.left {
    padding-top:27px;
    display:inline-flex;
    /*align-items: top;*/
}
.menu {
    width:35px;
    height:27px;
    background: url(../img/menu_hamburger.svg) center center no-repeat;
    margin-right:17px;
    cursor: pointer;
}
.menu.active {
    background: url(../img/menu_cross.svg) center center no-repeat;
}
.gift {
    display:inline-block;
    padding-left:30px;
    height:27px;
    line-height:27px;
    color:#FF6666;
   /* font-family:'Circe Light', sans-serif;*/

    font-size:16px;

    background: url(../img/icon_header_gift.svg) left center no-repeat;
    overflow: hidden;
}
.gift:visited {
    color:#FF6666;
}
.gift:hover {
    color:#BF4C4C;
    background: url(../img/icon_header_gift_hover.svg) left center no-repeat;
}
.right a {
    display:inline-block;
    padding-left:35px;
    height:35px;
    line-height:35px;

    color:#666465;
    font-size:20px;
    overflow: hidden;
    margin-left:30px;
    border-bottom: 1px solid white;
    /*background-position: left center; !important;*/
}
.right a:hover {
    color:#1B75BB;
    border-bottom: 1px solid #1B75BB;
    text-decoration: none;
}
.right_mobile{
	display: none;
}
.map {
    background: url(../img/icon_header_map.svg) 4px center no-repeat;
}
.metro {
    background: url(../img/icon_header_metro.svg) 2px center no-repeat;
}
.right .phone {
    background: url(../img/icon_header_phone.svg) left center no-repeat;
}
.right .check {
    background: url(../img/icon_header_check.svg) left center no-repeat;

}
.check:hover{
    background-image: url(../img/icon_check_hover.svg);

}
.buy {
    background: url(../img/icon_header_card.svg) 1px center no-repeat;
}
.facebook {
    width:27px;
    height:27px;
    background: url(../img/icon_fb.svg) left center no-repeat;
    background-size:27px;
    margin-right:12px;
}
.facebook:hover {
    background-image: url(../img/icon_fb_hover.svg);
}
.instagram {
    width:27px;
    height:27px;
    background: url(../img/icon_insta.svg) left center no-repeat;
    background-size:27px;
    margin-right:12px;
}
.instagram:hover {
    background-image: url(../img/icon_insta_hover.svg);
}

.metro:hover{
	background-image: url(../img/icon_metro_hover.svg);
}
.phone:hover{
	background-image: url(../img/icon_phone_hover.svg);
}
.map:hover{
	background-image: url(../img/icon_map_hover.svg);
}

.buy:hover{
	background-image: url(../img/icon_card_hover.svg);
}




.soc-bottom {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.soc-bottom.soc-bottom-left {
    justify-content: flex-start;
}
@media only screen and (max-width: 1230px) {
    .gift {
        width:27px;
    }
    .left .facebook, .left .instagram, .right a.metro, .right a.map, .right a.buy {
        display: none;
    }
    .right a.check {

        border:1px solid #22bfed;
        border-radius:15px;
        background-position-x: 11px;
        padding:10px 30px 10px 60px;
        line-height:20px;
        height:40px;
        margin-top:17px;
    }
    .right a.check:hover {
        margin-top:17px;
        border-radius: 15px;
        border: 1px solid #1B75BB;
        background-position-x: 11px;
        padding:10px 30px 10px 60px;
        line-height:20px;
        height:40px;
    }

}
.right {
    text-align:right;
    margin: 18px 8px 0 0;
}

.open-menu {
    transition: none;
}

.open-menu.cards-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.open-menu .card {
    margin:0 auto;
    text-align:left;
}
.open-menu .card ul,li {
    margin:0;
    padding:0;
    list-style-type:none;
    cursor: pointer;
}
.contacts-open-menu {
    display:flex;
    flex-direction:column;

}
@media screen and (min-width: 1230px) {
    .contacts-open-menu {
        display: none;
    }
}
.contacts-open-menu a {
    color:#464646;
    font-size:15px;
    /*font-family:'Circe', sans-serif;*/
    text-align:left;
    padding-left:37px;
}
.disclaimer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.social {
    flex: 0 1 163px;
    margin-left: 13px;
}
.disclaimer_text {
    flex: 1 1 200px;
}

@media screen and (max-width: 991px) {
    .social {
        flex: 1 0 569px;
        text-align: right;
        margin: 30px 0 30px 13px;

        display: flex;
        flex-direction: row-reverse;
    }
    .social-wrap {
        flex: 0 1 50%;
        text-align: left;
    }
    .scroll {
        display: none;
    }
}

.disclaimer_text {
    font-size:12px;
    line-height: 15px;
    color: #919191;
    margin: 0 46px;
}
footer .disclaimer_text {
    margin-left: 0;
}
li.menu-items a{
    font-size:22px;
    /*font-family:'Circe',sans-serif;*/

    padding:0;
}
.menu-items li {
    /*line-height:30px;*/
}
li.menu-items>a {
    color:#55c2f0;
    font-size:30px;
}
.main-menu-links li.menu-items>a {
    background: url(../img/menu-open.png) left center no-repeat;
    background-size:15px 25px;
    padding-left:44px;
}
.main-menu-links li.menu-items>a.active {
    background: url(../img/menu-close.png) left center no-repeat;
    background-size:25px 15px;
}
.menu-items>ul>li>a {
    font-size:30px;
    color:#7f7f7f;

}
li.menu-items li:last-child {
    margin-bottom:36px;
}
.left-about-menu li.menu-items a {
    font-size:22px;

}
.left-about-menu li.menu-items {
    line-height:30px;
}

/* Для мобилок*/
@media screen and (max-width: 767px) {
    .mobile{
        margin: 0px 10%;
        margin-top: 60px;
        position: relative;
    }
    .right_mobile{
        display: block;
        margin-top: 25px;
        width: 82px;
    }
    .right{
        display: none;
    }
    .left{
        flex-grow: 0;
    }
    .logo img {
      width: 110px;
    }
    .logo {
        /*1position: static;*/
        width: 110px;
        margin-left: -55px;
    }


    .contacts-open-menu a {
            padding-left: 32px;
            font-size: 14px;
    }

}

/* Для планшетов*/
@media (min-width: 768px) and (max-width: 992px) {

    #header-left{   width: 220px;   }

    .cards-holder{
        column-gap: 35px;
        -moz-column-gap: 35px;
    }

    .right .check{
        border-radius: 10px;
        padding: 0px 38px;
        height: 33px;
        border: 2px solid #1B75BB;
    }
}

/* Для десктопов*/
@media (min-width: 992px) and (max-width: 1200px) {

    #header-left{
        width: 220px;
    }
}

/* >1200px */
@media (min-width: 1200px) {

    #header-left{
        width: 482px;
    }
}

@media screen and (min-width: 1230px) {
    .contacts-open-menu {
        display: none;
    }
}

/********footer styles*******/
footer {
    width:100%;
    margin: 30px auto;
    background-color:#0dbeec;
}
footer a, footer h4 {
    color:white;
    line-height:26px;
}
footer a {
    font-size:15px;
    /*font-family: 'Circe', sans-serif;*/
}
footer h4 a{
    font-size:18px;
    /*font-family: 'Circe Bold', sans-serif;*/
    font-weight:bold;
}
/*footer .row-container {
    background-color:#0dbeec;

}*/
footer .disclaimer_text {
    margin-top:190px;
    color:#466a74;
    text-wrap:normal;
    width:100%;
}
@media screen and (max-width: 540px) {
    footer .disclaimer_text {
        margin-top:85px;
    }
}
footer.flex-container {
    padding:40px;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
footer.flex-container .blocks {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 150px;

}
footer .block-1 {
    background:url(../img/logo_footer.svg) left 10% no-repeat;
}
@media screen and (max-width: 768px) {
    footer.flex-container .blocks {
        flex-basis: 215px;
    }
}
.blocks a {
    display: block;
}



/********collage styles********/
.img-group img{
    width:100%;
    height:auto;
}
.flex-container{
    display:flex;
}
.flex-aspect .img-container1{
    flex:1.4988;
}
.flex-aspect .img-container2{
    flex:0.6672;
}
.flex-aspect .img-container3{
    flex:0.6672;
}
.img-group {
    margin-top: -1px;
    /*margin-left: -3px;
    margin-right: -3px;*/
}

.img-group__item:not(:first-child):not(:last-child) {
    margin: 0 5px;
}
/*.img-group__item {
    margin: 0 3px;
}*/
/********form styles********/
*:focus {
    outline: none;

}

.callme {
    /*width: 528px;*/
    width:90%;
    max-width:528px;
    text-align:center;
    margin: 0 auto;
    margin-bottom:100px;
}
.callme h4 {
    color: #adaeae;
    font-size:40px;
    font-weight:bold;

}
@media screen and (max-width: 992px) {
    .card.bg h4 {	font-size: 36px;	}
    .left-but .more {		font-size: 62%;		}
    .callme h4 {	font-size: 35px;	}
    #content{	margin-top: 50px;	}
}
.callme input[type="text"], .callme input[type="number"] {
    width:100%;
    line-height:70px;
    height:70px;
    margin-bottom:24px;
    border-radius: 15px;
    /*1color:#adaeae;*/
    color:#35bdee;
    font-size:25px;
    font-family: 'rawline',sans-serif;
    padding-left:20px;
    border:2px solid #b6e0f6;
    -webkit-appearance:none;
}

.callme input[type="text"]:focus, .callme input[type="number"]:focus {
    border:2px solid #00C0F3;

}

.callme input[type="submit"] {
    line-height:45px;
    height:49px;
    font-size:25px;
    /*font-family:'Circe',sans-serif;*/
    font-family: 'rawline',sans-serif;
    padding: 0 20px 10px 20px;
    border-radius: 15px;
    border: 2px solid #35bdee;
    color:#35bdee;
    background-color:white;
}
.callme ::-webkit-input-placeholder {color:#55c2f0;}
.callme ::-moz-placeholder          {color:#55c2f0;}/* Firefox 19+ */
.callme :-moz-placeholder           {color:#55c2f0;}/* Firefox 18- */
.callme :-ms-input-placeholder      {color:#55c2f0;}

/*********three-points*******/
.three-points .wide-card.nobg  h4 {
    font-size:25px;
    color: white;
    padding:20px 0;
}
.three-points .wide-card.nobg  p {
    font-size:16px;
    color: white;
    margin:0;
}
.card.bg.floating-detail>h4 {
    padding-bottom:60px;
}
.card.bg.floating-detail .card-bottom {
    font-size:35px;
    line-height:45px;
    margin:150px 0 100px 0;
}
.card.bg.floating-detail .action-buttons {
    margin-bottom:100px;
}
.card.bg.floating-detail {
    background-image: url(../img/waves.svg),
    linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ), url(../img/photo_relax.jpg);
    background-position: center bottom, center bottom, center top;
    background-repeat: no-repeat;
    background-size: 100% 30%, auto, auto 75%;

}

/* Add me */


            /* Menu */
.menu-items a:link {
    font-size: 22px;
    line-height: 30px;
}
.items-lg a:link{
    font-size: 30px;
    line-height: 50px;
}
.items-lg .menu-items ul li a {
    color: #3f3f40;
}
.items-lg .more:link {
    font-size: 22px;
    line-height: 30px;
}
.items-lg .menu-items ul {
    counter-reset: list 0;
}
.items-lg .menu-items ul li a {
    display: block;
    padding-left: 30px;
}
@media screen and (min-width: 990px) {
    .items-lg .menu-items ul li:before {
        counter-increment: list;
        content: counter(list) " ";
        color: #dcdada;
        display: block;
        float: left;
        margin-top: 10px;
    }
    .list-mobile, .img-bank{
        display: none;
    }
}
@media screen and (max-width: 990px) {
    .right-list, .menu-items-img .more, .social-wrap{
        display: none;
    }
}

.mega-menu__mid>ul>li {
    font-size: 20px;
}
@media screen and (max-width: 991px) {
    .mega-menu__mid>ul>li {
        margin-left: 45px;
    }
}



.menu-items a:link,
.menu-items a:visited,
.menu-items a:hover,
.menu-items a:active {
    background: none;
    color: #55c2f0;
}
.menu-items li a:link,
.menu-items li a:visited,
.menu-items li a:hover,
.menu-items li a:active {
    color: #7d7d7d;
}
.menu-items a:hover {
    text-decoration: underline;
}
.contacts-open-menu a {
    color: #7d7d7d;
}
.contacts-open-menu a:hover {
    background-color: transparent;
    color: #7d7d7d;
    text-decoration: underline;
}
.open-menu .mega-menu {
    margin-top: 115px;
}
@media screen and (max-width: 650px) {
    .open-menu .mega-menu {
        margin-top: 50px;
    }
}
.mega-menu .first-block {
    margin-bottom: 30px;
}
.img-bank{
    width:68px;
    margin-top:10px;
}
.right-about-menu {
    margin-top: 50px;
}
.mega-menu .menu-items li {
    line-height: 30px;
}
.mega-menu .menu-items-img {
    max-width: 100%;
    margin: 20px 0;
    position: relative;
}
.menu-items-img .more {
    position: relative;
    bottom: 69px;
    margin: 0 0 22px 20px;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    border-color: #fff;
}
.menu-items-img .more:hover {
    background: transparent;
}
.menu-items.med {
    position: relative;
}
.menu-items.med img {
    position: absolute;
    left: 55%;
    top: 10px;
    width: 44%;
    max-width: 230px;
}
.main-menu-links .menu-items li{
    margin-left: 15px;
}
.mega-menu ul div {
    margin: 30px 0 30px 44px;
}
.mega-menu .more {
    padding: 3px 20px;
}
.mega-menu .more:hover {
    text-decoration: none;
}
.contacts-open-menu {
    margin-bottom: 30px;
}
.contacts-open-menu a {
    line-height: 40px;
}

@media screen and (max-width: 450px) {
	.menu-items a:link{
    	font-size: 17px;
    	line-height: 30px;
	}
    .main-menu-links li.menu-items>a{
        font-size: 17px;
    }
}

                /* Floating page */
.imgheader-wide {
    position: relative;
    overflow: hidden;
}
.imgheader-wide::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.imgheader-wide .wide-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.imgheader-wide .wide-text h4 {
    position: static;
    transform: none;
}
.imgheader-wide .tick {
    margin-bottom: 0;
}
.imgheader-wide img {
    width: 100%;
}
.imgheader-wide .tick img {
    width: 50px;

}
.imgheader-wide .wide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
.imgheader-wide .wide-text .tick a:link,
.imgheader-wide .wide-text .tick a:visited,
.imgheader-wide .wide-text .tick a:hover,
.imgheader-wide .wide-text .tick a:active{
    border: none;
    background: none;
}



.center {
    text-align: center;
}


/* WELLNESS MENU ANIMATIONS */
.wells .active + #well_list {
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */

    transition-property: all;
    transition-duration: .5s;
}
.wells #well_list { max-height: 0;
    overflow-y: hidden;

    transition-property: all;
    transition-duration: .5s;
}
@media (max-width: 450px) {
    .wells .active + #well_list {
        max-height: 300px;
    }
}


/* form from old design styles */

[name="lastname"] {
    display: none !important;
}

.js-h-form + form{
    display: none;
}

.form-record {
    position: relative;
}
.form-record form{
    display: none;
    position: absolute;
    top: 25px;
    left: 0;;
    width: 185px;
    background-color: #38b9e8;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;

}
.form-record form input{
    width: 100%;
    height: 35px;
    border: 2px solid #ccc;
    border-radius: 3px;
    text-align: center;
    margin-top: 10px;
}
.form-record form input:first-child{
    margin-top: 0;
}
.form-record form .btn-all{
    width: 100%;
    float: none;
    background-color: #ccc;
    color: #fff;
    margin-top: 15px;
    border: 1px solid #ccc;
    transition: all 0.3s;
}
.form-record form .btn-all:hover, .form-record form .btn-all:focus, .form-record form .btn-all:active{
    background-color: transparent;
    color: #fff;
}
.sclose{
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: -10px;
    right: -10px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}
.sclose * {
    color: #fff;
    font-size: 15px;
    margin-top: 4px;
}

.required.error {
    color: red;
}

#success {
    z-index: 5000;
}

#success > h2 {
    background: none repeat scroll 0 0 #e31e24;
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
    z-index: inherit;
}
#loading {
    background: none repeat scroll 0 0 #fff;
    padding: 20px;
    width: 300px;
    z-index: inherit;
}
#load {
    background: none repeat scroll 0 0 #e31e24;
    height: 10px;
    width: 10%;
    z-index: inherit;
}


a, input, button, img {
/** {*/
    transition: all 0.3s ease;
}

/* Page2*/

.uslugi .row{
    margin-left: 0;
    margin-right: 0;
}
.container{
    /*width: 100%;*/
    /*brokes*/
}

#content .col-md-12, #content .col-md-8, #content .col-md-4{
    padding: 0;
}
#breadcrumb{
    margin: 30px 0;
}
#breadcrumb a{
    color: #333;
}
.auth-mass{
    font-size: 30px; color: #33ccff;color: #6abce9;margin: 30px 0;
}

.more_hover {
  background-color: #00c0f3;
  color: white;
  padding-top: 0px;
  padding-right: 23px;
  padding-bottom: 0px;
  padding-left: 23px;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  border-radius: 7px;
  font-size: 25px;
  text-decoration: none;
}
.more_hover:hover {
    background-color: #fff;
    border: 2px solid #35bdee;
    text-decoration: none;
    color: #6abce9;
    padding-top: 0px;
    padding-right: 23px;
    padding-bottom: 0px;
    padding-left: 23px;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    border-radius: 7px;
    font-size: 25px;
}

#price_text{
    background-color: #e2e2e1;
    height: 43px;
    margin: 50px 0;
    color: #595858;
}
.title_price {
    height: 43px;
    padding: 14px 0;
    font-size: 16px;
}

#title_usluga {
  font-size: 40px;
}
.spec{
    font-size: 30px; color: #33ccff;color: #6abce9;margin: 30px 0;
}
.sotr_fio{
    color: black;
    font-size: 19px
}
.gallery {
    text-align: center;
}
.gallery img{
    height: 185px;
}
.gallery .sotr_foto {
    margin-bottom: 22px;
}
.gallery .list_mass{

}
.gallery .list_of_sotr{
    font-size: 16px;
    text-align: left;
    padding-left: 31%;
}
.gallery .list_of_sotr li{
    min-width: width: 170px;
    list-style-type: disc;
}
.telephone{
    font-size: 25px;
    color: #000;
    margin-top: 100px;
}
.chach{
    margin-left: 10px;
    height: 43px;
    padding: 14px 0;
    font-size: 16px;
}


/* Медиа */
@media screen and (max-width: 600px) {
    #price_text{
        height: 90px;
    }
    #title_usluga{
        line-height: 40px;
    }
    .title_price{
        padding-left: 10px;
        max-width: 50px;
    }

}
@media screen and (max-width: 800px) {
        .summa{
            margin-right: 15px;
        }
        /*.btn-zapis{ 1max-width: 220px;}*/
        .btn-all{   max-width: 260px;}
        .more{  font-size: 23px;     }
    }

@media screen and (min-width: 992px) {

    .massage_descr{
        padding-right: 30px;
    }
}
@media screen and (max-width: 430px) {
    .btn-zapis, .btn-all{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;

    }

    .btn-all .more{ font-size: 23px;     }
}

/*   Специалист   */

.telephone {
  font-size: 25px;
  color: black;  
}

.title_spec {
  font-size: 40px;
}

#breacrumb {
  font-size: 16px;
}

.prof_fio {
  color: #73bcec;
  font-size: 55px;
  margin-bottom: 20px;
}

.prof_offer {
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 30px;
}

.more_hover {
  background-color: #00c0f3;
  color: white;
  padding-top: 0px;
  padding-right: 23px;
  padding-bottom: 0px;
  padding-left: 23px;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  border-radius: 7px;
  font-size: 25px;
  text-decoration: none;
}

.more_hover:hover {
  background-color: white;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #35bdee;
  border-right-color: #35bdee;
  border-bottom-color: #35bdee;
  border-left-color: #35bdee;
  text-decoration: none;
  color: #6abce9;
  padding-top: 0px;
  padding-right: 23px;
  padding-bottom: 0px;
  padding-left: 23px;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  border-radius: 7px;
  font-size: 25px;
}

.big_text {
  font-size: 18px;
  line-height: 24px;
}

.big_photo {
  border-radius: 5px;
}

.prof_title-list {
  font-size: 30px;
  color: #6abce9;
}

.prof_list li {
  list-style-type: disc;
}

.prof_list li a {
  font-size: 16px;
  color: #4c4c4c;
}
.priem{
    margin-bottom: 30px;
}