img {
  max-width: 100%;
}

html {
  font-size: 1rem;
}

.light,
.person,
.contentbox-doctors__head,
.promo-grid__item-background,
.photobox__content-newformat,
.greed-card,
.promo-grid {
  font-family: 'Circe Light', sans-serif;
}

.bold,
.photobox__head,
.contentbox__head,
.promo-grid-square__price,
.contentbox__phones,
.contentbox-doctors__main-head,
.contentbox-doctors__head-row {
  font-family: 'Circe Bold', sans-serif;
}

.doctors-grid__status,
.doctors-grid__skills,
.contentbox__promo-more-small {
  font-family: 'Circe Extra Light', sans-serif;
}

.photobox__long .photobox__head,
.photobox__videohead,
.greed-card__item:after,
.promo-grid__head {
  font-family: 'Circe', sans-serif;
}

a {
  text-decoration: none;
  color: #0dbeec;
}

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #0dbeec;
}

a:active {
  color: #1b75bb;
}

footer a {
  color: #fff;
}

footer a:visited {
  color: #fff;
}

footer a:hover {
  color: #1b75bb;
}

footer a:active {
  color: #424242;
}

footer h4 {
  color: #fff;
}

.photobox a {
  text-decoration: underline;
  color: #fff;
}

.photobox a:hover {
  text-decoration: none;
}

.photobox .photobox__button a {
  text-decoration: none;
}

#content {
  margin-top: 2.6875rem;
}

.photobox {
  position: relative;
  margin-bottom: 6.25rem;
}

.photobox.photobox-half-margin {
  margin-bottom: 3.125rem;
}

.photobox.photobox-not-margin {
  margin-bottom: 10px;
}

.photobox.mb-80 {
  margin-bottom: 5rem;
}

.photobox:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.photobox .photobox__img {
  min-width: 100%;
}

.photobox .photobox__wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.photobox .photobox__head {
  margin-bottom: 3.125rem;
  font-size: 3.125rem;
  line-height: 2.5rem;
}

.photobox .photobox__videohead {
  font-size: 2.1875rem;
  line-height: 2.3125rem;
}

.photobox .photobox__content {
  width: 80%;
  margin: 0 auto;
  font-size: 1.5625rem;
  line-height: 1.9375rem;
  text-align: center;
  color: #fff;
  opacity: 0.9;
}

.photobox .photobox__content-newformat {
  font-size: 2.1875rem;
  line-height: 2.3125rem;
}

.photobox .photobox__content-newformat .photobox__head {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.photobox .photobox__content-around {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
}

.photobox .photobox__content-middle {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  margin: 0 auto;
}

.photobox .photobox__content-crop-with {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.photobox .photobox__button a {
  color: #fff;
  border-color: #fff;
  text-align: center;
}

.photobox .photobox__button a:hover {
  background: none;
}

.photobox .photobox__button-check:after {
  content: url(../img/card-more.png);
  display: block;
  margin-top: 2.5rem;
  padding-bottom: 2.1875rem;
}

.photobox .photobox__scroll {
  margin: 5.3125rem auto 0;
  width: 1.875rem;
  z-index: 200;
}

.contentbox-bg {
  background: url(../img/bulbul-floating.jpg) center top no-repeat;
  background-size: cover;
}

.contentbox-bg.sport {
  background: url(../img/relaxdark-sport.jpg) center top no-repeat;
  background-size: cover;
}

.contentbox-bg.sport .promo-grid {
  padding-top: 10.3125rem;
  padding-bottom: 5.625rem;
}

.contentbox-bg .contentbox-bg__head {
  width: 50%;
  margin: 0 auto 3.75rem auto;
  font-size: 2.1875rem;
  line-height: 2.3125rem;
  color: #fff;
}

.contentbox-bg .contentbox-bg__promo {
  width: 80%;
  margin: 0 auto 8.125rem auto;
  font-size: 1.375rem;
  line-height: 1.9375rem;
  color: #fff;
}

.waves {
  margin-bottom: 4.5625rem;
}

.waves .photobox__wrap {
  background: url(../img/white-wave.png) no-repeat 50% top, url(../img/white-wave_rotate.png) no-repeat 50% bottom;
  background-size: contain;
}

.waves-top:before {
  content: '';
  display: block;
  height: 2.625rem;
  margin-bottom: 4.5625rem;
  background: url(../img/white-wave.png) repeat-x 50% top;
  background-size: contain;
}

.contentbox {
  margin-bottom: 4.375rem;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  color: #6d6d6d;
}

.contentbox.contentbox_big-margin {
  margin-bottom: 5rem;
}

.contentbox.contentbox-not-margin {
  margin-bottom: 0;
}

.contentbox .contentbox__head {
  margin-bottom: 2.5rem;
  font-size: 3.125rem;
  line-height: 3.125rem;
  color: #0dbeec;
}

.contentbox .contentbox__promo {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  font-size: 2.1875rem;
  line-height: 2.3125rem;
  color: #c3c2c2;
}

.contentbox .contentbox__promo.mb-50 {
  margin-bottom: 3.125rem;
}

.contentbox .contentbox__promo-double-mb {
  margin-bottom: 5rem;
}

.contentbox .contentbox__promo-blue {
  color: #0dbeec;
}

.contentbox .contentbox__promo-small {
  font-size: 1.5625rem;
  line-height: 1.9375rem;
}

.contentbox .contentbox__promo-more-small {
  font-size: 1.375rem;
  line-height: 1.9375rem;
  color: #535353;
}

.contentbox .contentbox__limit-with {
  width: 69%;
  margin: 0 auto;
}

.contentbox .contentbox__limit-with.mb {
  margin-bottom: 2.5rem;
}

.contentbox .contentbox__limit-with.mb-50 {
  margin-bottom: 3.125rem;
}

.contentbox .contentbox__bigtext {
  font-size: 1.4375rem;
  line-height: 1.875rem;
}

.contentbox .contentbox__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
}

.contentbox .contentbox__buttons .more {
  margin: 0 0.9375rem 1.875rem;
}

.contentbox .contentbox__phones a {
  font-size: 25px;
  line-height: 30px;
  color: #000;
}

.contentbox.contentbox-bg {
  margin-bottom: 0;
  padding-bottom: 100px;
}

.contentbox.contentbox__bluewaves {
  margin-top: -50px;
  margin-bottom: 5.625rem;
  position: relative;
  background: #0dbeec;
}

.contentbox.contentbox__bluewaves:before {
  position: absolute;
  top: -2.5rem;
  content: '';
  display: block;
  width: 100%;
  height: 2.5rem;
  background: url(../img/waves.svg) 50% top repeat-x;
}

.contentbox.contentbox__bluewaves .contentbox__promo {
  width: 80%;
  margin-bottom: 3.125rem;
  padding-top: 5.3125rem;
  color: #fff;
}

.contentbox.contentbox__bluewaves .contentbox__buttons {
  padding-bottom: 3.125rem;
}

.contentbox.contentbox__bluewaves .contentbox__buttons a {
  color: #fff;
  border-color: #fff;
}

.contentbox.contentbox__bluewaves .contentbox__buttons a:hover {
  border: 2px solid #0090B6;
  text-decoration: none;
  background-color: #0090B6;
}

.greed-card {
  width: 95%;
  margin: 0 auto 6.25rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  counter-reset: list 0;
}

.greed-card .greed-card__item {
  position: relative;
  width: calc(25% - 40px);
  margin: 20px;
  padding: 20px 10px 40px 20px;
  border: 2px solid #0dbeec;
  border-radius: 10px;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: #424242;
}

.greed-card .greed-card__item:after {
  position: absolute;
  bottom: -0.625rem;
  right: 1.5625rem;
  counter-increment: list;
  content: "№ " counter(list);
  font-size: 2.625rem;
  line-height: 2.75rem;
  color: #0dbeec;
}

.promo-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
  margin-bottom: -0.8125rem;
}

.promo-grid .promo-grid__item {
  width: calc(33.333333333333336% - 30px);
  padding: 0 1.875rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.promo-grid .promo-grid__item-background {
  font-size: 16px;
  line-height: 23px;
  color: #fff;
}

.promo-grid .promo-grid__item-background .promo-grid__head {
  color: #fff;
}

.promo-grid .promo-grid__item img {
  width: 80px;
  height: 80px;
  margin-bottom: 2.5rem;
}

.promo-grid .promo-grid__head {
  margin-bottom: 2.5rem;
  font-size: 1.5625rem;
  line-height: 1.625rem;
  color: #0dbeec;
}

.promo-grid .promo-grid__head-column {
  font-size: 1.5625rem;
  line-height: 2.3125rem;
}

.promo-grid .promo-grid__head-half-margin {
  margin-bottom: 1.25rem;
}

.promo-grid .promo-grid__title {
  margin-bottom: 0;
  font-size: 2.1875rem;
  line-height: 2.3125rem;
  color: #000;
}

.promo-grid .promo-grid__text-before-button {
  margin-bottom: 2.5rem;
}

.promo-grid.promo-grid__compact .promo-grid__item img,
.promo-grid.promo-grid__compact .promo-grid__head {
  margin-bottom: 1.25rem;
}

.timeline {
  max-width: 1230px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
  color: #a0a0a0;
}

.timeline .timeline__list {
  margin-bottom: 1.25rem;
  width: 57%;
  text-align: left;
}

.timeline .timeline__item {
  display: block;
  position: relative;
  padding: 0.3125rem 0.9375rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.timeline .timeline__item:before {
  content: "";
  display: block;
  width: 1.5625rem;
  height: 1.5625rem;
  position: absolute;
  top: 0;
  left: -2.8125rem;
  border-radius: 50%;
  background: #0dbeec;
}

.timeline .timeline__item:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0.9375rem;
  left: -2.0625rem;
  background: #0dbeec;
}

.timeline .timeline__item:last-child:after {
  display: none;
}

.contentbox__two-column {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 1.25rem;
  justify-content: space-between;
  text-align: left;
}

.contentbox__two-column .contentbox__left-column {
  flex: 1 1 6.25rem;
  padding-left: 3.4375rem;
}

.contentbox__two-column .contentbox__right-column {
  flex: 2 1 12.5rem;
  padding: 0 1.875rem 0 5.3125rem;
}

.contentbox__two-column p {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 1.25rem;
}

.contentbox__two-column .contentbox__bigmargin {
  margin-bottom: 10rem;
}

.contentbox__two-column .limit-with-left {
  width: 75%;
}

.contentbox__main-doctor {
  max-width: 1230px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  width: calc(66.66666666666667% - 30px);
}

.person {
  margin-bottom: 2.5rem;
}

.person .person__photo {
  margin: 0 auto 2.5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.person .person__name {
  font-size: 1.5625rem;
  line-height: 1.875rem;
  color: #0dbeec;
}

.callme h4 {
  margin-bottom: 2.5rem;
}

.callme input[type="text"],
.callme input[type="submit"] {
  border-radius: 10px;
}

.callme input[type="submit"] {
  height: 43px;
  line-height: 40px;
  margin-top: 15px;
}

.promo-grid-square {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-grid-square .promo-grid-square__item {
  width: calc(33.333333333333336% - 10px);
  margin-bottom: 40px;
  text-align: left;
}

.promo-grid-square .promo-grid-square__item:nth-child(2) {
  margin-right: 10px;
  margin-left: 10px;
}

.promo-grid-square .promo-grid-square__item img {
  margin-bottom: 40px;
  min-width: 100%;
}

.promo-grid-square .promo-grid-square__head {
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 26px;
  color: #0dbeec;
}

.promo-grid-square .promo-grid-square__head-gap {
  margin-bottom: 2.5rem;
}

.promo-grid-square .promo-grid-square__description {
  margin-bottom: 1.25rem;
  padding-right: 5rem;
  font-size: 16px;
  line-height: 23px;
}

.promo-grid-square .promo-grid-square__description-gap {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.promo-grid-square .promo-grid-square__price {
  margin-bottom: 1.25rem;
  font-size: 30px;
  line-height: 37px;
  color: #000;
}

.promo-grid-square .promo-grid-square__text-before-button {
  margin-bottom: 2.5rem;
}

.promo-grid-square .contentbox__buttons {
  justify-content: flex-start;
}

.promo-grid-square .more {
  font-size: 25px;
  line-height: 26px;
}

.contentbox-doctors {
  margin-bottom: 2.5rem;
}

.contentbox-doctors .contentbox-doctors__main-head {
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.contentbox-doctors .contentbox-doctors__head {
  margin-bottom: 3.75rem;
  font-size: 3.4375rem;
  line-height: 3.25rem;
  text-align: center;
  color: #0dbeec;
}

.contentbox-doctors .contentbox-doctors__head-row {
  margin-bottom: 2.5rem;
  font-size: 1.875rem;
  line-height: 2.125rem;
  text-align: center;
  text-transform: uppercase;
  color: #0dbeec;
}

.contentbox-doctors .contentbox-doctors__head-row-upjump {
  margin-top: -1.25rem;
}

.contentbox-doctors .contentbox-doctors__buttons {
  margin-bottom: 2.5rem;
  text-align: center;
}

.contentbox-doctors .contentbox-doctors__buttons .contentbox-doctors__buttons-label {
  display: inline-block;
  margin-right: 1.875rem;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  color: #0dbeec;
}

.contentbox-doctors .contentbox-doctors__buttons a {
  display: inline-block;
  margin: 0 10px 1.25rem;
}

.doctors-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
}

.doctors-grid .doctors-grid__item {
  margin-bottom: 3.75rem;
  margin-right: 15px;
  margin-left: 15px;
  width: calc(25% - 30px);
  text-align: center;
}

.doctors-grid .doctors-grid__photo {
  max-height: 350px;
  max-width: 230px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  background: #333;
}

.doctors-grid .doctors-grid__buttons {
  margin-top: -1.25rem;
  margin-bottom: 1.875rem;
  font-size: 1.5625rem;
  line-height: 2.5rem;
}

.doctors-grid .doctors-grid__head {
  font-size: 1.25rem;
  line-height: 2.1875rem;
  color: #0dbeec;
  text-transform: uppercase;
}

.doctors-grid .doctors-grid__status {
  color: #535353;
}

.doctors-grid .doctors-grid__skills {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}

.doctors-grid .doctors-grid__skills li:before {
  content: " ";
  display: block;
  float: left;
  width: 1px;
  height: 3px;
  background: #333;
  margin-top: 10px;
  margin-right: 10px;
}

.sort-doctors {
  max-width: 1230px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 2.5rem;
  width: 80%;
}

.sort-doctors .sort-doctors__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  counter-reset: list 0;
  justify-content: center;
}

.sort-doctors .sort-doctors__item {
  display: inline-block;
  padding-right: 40px;
  font-size: 18px;
  line-height: 30px;
}

.sort-doctors .sort-doctors__item:before {
  counter-increment: list;
  content: counter(list) ". ";
  color: #5f5f5f;
  display: block;
  float: left;
  margin-right: 10px;
}

.sort-doctors .sort-doctors__item a {
  color: #5f5f5f;
}

.sort-doctors .sort-doctors__item-active {
  color: #0dbeec;
}

.sort-doctors .sort-doctors__item-active:before {
  color: #0dbeec;
}

.sort-doctors .sort-doctors__item-active a {
  color: #0dbeec;
  text-decoration: underline;
  cursor: default;
}

.breadcrumbs {
  margin-top: -1.25rem;
  margin-bottom: 3.4375rem;
}

.breadcrumbs .breadcrumbs__list {
  margin: 0;
  padding: 0;
}

.breadcrumbs .breadcrumbs_item {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
}

.breadcrumbs .breadcrumbs_item:after {
  content: '/';
  margin: 0 3px;
}

.breadcrumbs .breadcrumbs_item a {
  color: #4c4c4c;
}

.breadcrumbs .breadcrumbs_item:last-child:after {
  content: '';
}

.banner {
  margin-top: 1.25rem;
  margin-bottom: 6.25rem;
}

.banner.banner-half-margin {
  margin-bottom: 3.125rem;
}

.more {
  font-size: 1.5625rem;
  line-height: 2.5rem;
  text-decoration: none;
}

.more:hover {
  text-decoration: none;
}

.more.more-invert {
  background: #0dbeec;
  color: #fff;
}

.more.more-invert:hover {
  background: #1b75bb;
  border-color: #1b75bb;
  color: #fff;
}

.more.more-active,
.more.more-active:hover {
  background: #0dbeec;
  color: #fff;
  cursor: default;
}

.mb {
  margin-bottom: 2.5rem;
}

.topjump {
  margin-top: -2.5rem;
}

@media screen and (max-width: 1200px) {
  .greed-card .greed-card__item {
    width: calc(33.333333333333336% - 40px);
  }

  .timeline {
    padding-left: 50px;
    padding-right: 50px;
  }

  .contentbox__main-doctor {
    padding-left: 50px;
    padding-right: 50px;
  }

  .sort-doctors {
    padding-left: 50px;
    padding-right: 50px;
  }

  .sort-doctors {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 0.875rem;
  }

  .photobox .photobox__head {
    margin-bottom: 1.5625rem;
  }

  .photobox .photobox__head {
    font-size: 2.5rem;
  }

  .photobox .photobox__head {
    line-height: 2.1875rem;
  }

  .photobox .photobox__content-around {
    justify-content: space-around;
  }

  .photobox .photobox__content-middle {
    height: 100%;
  }

  .photobox .photobox__scroll {
    display: none;
  }

  .contentbox-bg.sport .promo-grid {
    padding-top: 4.375rem;
  }

  .contentbox-bg.sport .promo-grid {
    padding-bottom: 0;
  }

  .greed-card .greed-card__item {
    width: calc(50% - 40px);
  }

  .promo-grid .promo-grid__item {
    width: calc(50% - 30px);
  }

  .timeline {
    padding-left: 30px;
    padding-right: 30px;
  }

  .contentbox__main-doctor {
    padding-left: 30px;
    padding-right: 30px;
  }

  .contentbox__main-doctor {
    width: calc(83.33333333333334% - 30px);
  }

  .promo-grid-square .promo-grid-square__item {
    width: calc(50% - 10px);
  }

  .promo-grid-square .promo-grid-square__item:nth-child(2) {
    margin-right: 0;
  }

  .promo-grid-square .promo-grid-square__item:nth-child(2) {
    margin-left: 0;
  }

  .doctors-grid .doctors-grid__item {
    width: calc(33.333333333333336% - 30px);
  }

  .doctors-grid .doctors-grid__skills ul {
    padding-left: 1.875rem;
  }

  .sort-doctors {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .timeline {
    padding-left: 30px;
    padding-right: 30px;
  }

  .contentbox__main-doctor {
    padding-left: 30px;
    padding-right: 30px;
  }

  .doctors-grid .doctors-grid__buttons a {
    font-size: 1.4375rem;
  }

  .sort-doctors {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 595px) {
  html {
    font-size: 0.75rem;
  }

  .photobox .photobox__head {
    margin-bottom: 0.9375rem;
  }

  .photobox .photobox__content {
    width: 100%;
  }

  .contentbox .contentbox__promo {
    width: 100%;
  }

  .contentbox .contentbox__limit-with {
    width: 100%;
  }

  .contentbox .contentbox__bigtext {
    font-size: 20px;
  }

  .contentbox .contentbox__bigtext {
    line-height: 25px;
  }

  .greed-card .greed-card__item {
    width: calc(80% - 40px);
  }

  .promo-grid .promo-grid__item {
    width: calc(100% - 30px);
  }

  .timeline {
    padding-left: 20px;
    padding-right: 20px;
  }

  .timeline .timeline__list {
    width: 80%;
  }

  .timeline .timeline__item {
    font-size: 16px;
  }

  .timeline .timeline__item {
    line-height: 20px;
  }

  .contentbox__two-column .contentbox__left-column {
    flex: 1 1 31.25rem;
  }

  .contentbox__two-column .contentbox__left-column {
    padding: 0 3.4375rem 0 3.4375rem;
  }

  .contentbox__two-column .contentbox__right-column {
    flex: 1 1 31.25rem;
  }

  .contentbox__two-column .contentbox__right-column {
    padding: 0 3.4375rem 0 3.4375rem;
  }

  .contentbox__two-column .contentbox__bigmargin {
    margin-bottom: 20px;
  }

  .contentbox__two-column .limit-with-left {
    width: 100%;
  }

  .contentbox__main-doctor {
    padding-left: 20px;
    padding-right: 20px;
  }

  .promo-grid-square {
    justify-content: center;
  }

  .promo-grid-square .promo-grid-square__item {
    width: calc(100% - 10px);
  }

  .doctors-grid .doctors-grid__item {
    width: calc(50% - 30px);
  }

  .doctors-grid .doctors-grid__buttons a {
    font-size: 1.6875rem;
  }

  .sort-doctors {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 0.6875rem;
  }

  .photobox .photobox__head {
    font-size: 1.5625rem;
  }

  .photobox .photobox__head {
    line-height: 1.875rem;
  }

  .photobox .photobox__button-check:after {
    display: none;
  }

  .waves .photobox__wrap {
    background: none;
  }

  .promo-grid .promo-grid__head {
    font-size: 25px;
  }

  .promo-grid .promo-grid__head {
    line-height: 30px;
  }

  .timeline {
    padding-left: 20px;
    padding-right: 20px;
  }

  .timeline .timeline__list {
    width: 100%;
  }

  .contentbox__main-doctor {
    padding-left: 20px;
    padding-right: 20px;
  }

  .promo-grid-square .promo-grid-square__description {
    padding-right: 0;
  }

  .sort-doctors {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 0.5625rem;
  }

  .greed-card .greed-card__item {
    width: calc(90% - 40px);
  }

  .promo-grid .promo-grid__item {
    padding: 0;
  }

  .timeline {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contentbox__main-doctor {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sort-doctors {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 0.5rem;
  }

  .timeline {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contentbox__main-doctor {
    padding-left: 20px;
    padding-right: 20px;
  }

  .doctors-grid .doctors-grid__item {
    width: calc(100% - 30px);
  }

  .doctors-grid .doctors-grid__buttons a {
    font-size: 2.1875rem;
  }

  .doctors-grid .doctors-grid__head {
    font-size: 20px;
  }

  .doctors-grid .doctors-grid__skills ul {
    padding-left: 40px;
  }

  .sort-doctors {
    padding-left: 20px;
    padding-right: 20px;
  }
}